
<body class="bg-secondary">
    <div class="container-fluid row ">
<h3 class="col-md-10 pl-5 pb-5 col-sm-10">Hello {{cookie}}</h3>
<form action="/logout" method="POST" class="col-md-2 col-sm-2">
<button class="btn btn-danger float-right " value="submit" type="submit" name="out" >Signout</button>
</form> 
<div class="col-md-6 col-sm-12">
<h2 class="col-md-12 pb-4 ">About you</h2>

<h4 class="col-md-12">Completed B.Tech in Computer Science from
LBS College of Engineering,Kasaragod in 2013-17 (Kannur University)<br><br>Studied Higher Secondary from Aliya Senior Secondary School,Paravanadukkam in 2011-13 (CBSE)
<br><br>Passed High School from Aliya Senior Secondary School in 2011 (CBSE)
</h4>
</div>
<div class="col-md-6 text-center col-sm-12">
<img src="images/1.jpg" class="img-fluid  " alt="Responsive image" style="height:55%; width:50%;">
</div>

</div>
</body>
