
  <body class=" bg-info">
<form style="padding-left:35%;padding-top:8%;" class="ml-4 mt-5" action="/login" method="POST">
    <!-- Email input -->
    <div class="form-outline mb-4 w-25  ">
      <input type="text" id="name" name="name" class="form-control mb-2" />
      <label class="form-label" for="form2Example1">Username</label>
      <p class="text-danger">{{msg}}</p>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4 w-25">
      <input type="password" id="text" name="password" class="form-control mb-2" />
      <label class="form-label" for="form2Example2">Password</label>
      <p class="text-danger">{{message}}{{m}}</p>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="ml-3 ">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
  
      <div class="ml-4">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 " style="width:10%;" >Sign in</button>
  
    <!-- Register buttons -->
    <div class="">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
  
 
</body>
